| ENG                                                          | УКР                                                          | Примітка |
| ------------------------------------------------------------ | ------------------------------------------------------------ | -------- |
| **Verification**                                             | **Верифікація (контрольна перевірка)**                       | ****     |
| Process of demonstrating by examination, review, testing or other objective evidence that the outputs of an HMI lifecycle activity meet the objective and requirements defined for the activity. | Процес демонстрації за допомогою експертизи, огляду, тестування чи інших об'єктивних доказів того, що результати діяльності життєвого циклу HMI відповідають цілі та вимогам, означеним для діяльності. |          |

![](media/2.png)

![](media/2_uk.png)